@model IEnumerable<CMSCore.Models.PageGroup>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PageGroupTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PageGroupTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PageGroupID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PageGroupID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PageGroupID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
